{{#partial "contenidoP" }}
    <div class="conteiner-tabla">
        <table>
            <thead>
            <tr>
                <th>Nombre Entidad Prestadora</th>
                <th>Entidades</th>
                <th><img src="/img/edit.svg" width="60" height="22"></th>
                <th><img src="/img/delete.svg" width="60" height="22"></th>
            </tr>
            </thead>

            <tbody>
            {{#each entidadPrestadora}}
                <tr>
                    <td>{{this.getNombre}}</td>
                    <td><button class="buttons" type="button"><a href="/organismosDeControlP/{{organismo.getId}}/entidadesPrestadorasP/{{this.getId}}/entidadesP">Ver Entidades</a></button></td>
                    <td><button class="buttons" type="submit"><a href="/organismosDeControlP/{{organismo.getId}}/entidadesPrestadorasP/{{this.getId}}/editar">Editar</a></button></td>
                    <td><button class="buttons" type="submit"><a href="comunidad.html">Eliminar</a></button></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <button class="buttonConfi" type="submit"><a href="configuracion.html">Agregar Entidad Prestadora</a></button>
    </div>
{{/partial}}
{{> templates/homePropietarioBase }}