{{#partial "contenidoP" }}
<div class="conteiner-tabla">
    <table>
        <thead>
        <tr>
            <th>Nombre Entidad</th>
            <th>Localizacion</th>
            <th>Establecimientos</th>
            <th><img src="/img/edit.svg" width="60" height="22"></th>
            <th><img src="/img/delete.svg" width="60" height="22"></th>
        </tr>
        </thead>
        <tbody>
        {{#each entidad}}
        <tr>
            <td>{{this.getNombre}}</td>
            <td>sin localizacion</td>
            <td><button class="buttons" type="button"><a href="/organismosDeControlP/{{organismo.getId}}/entidadesPrestadorasP/{{entidadPrestadora.getId}}/entidadesP/{{this.getId}}/establecimientosP">Ver Establecimientos</a></button></td>
            <td><button class="buttons" type="button"><a href="/organismosDeControlP/{{organismo.getId}}/entidadesPrestadorasP/{{entidadPrestadora.getId}}/entidadesP/{{this.getId}}/editar">Editar</a></button></td>
            <td><button class="buttons" type="submit"><a href="comunidad.html">Eliminar</a></button></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    <button class="buttonConfi" type="button"><a href="/organismosDeControlP/{{organismo.getId}}/entidadesPrestadorasP/{{entidadPrestadora.getId}}/entidadesP/crear">Agregar Entidad</a></button>


</div>
{{/partial}}
{{> templates/homePropietarioBase }}